<div id="starter" ng-init="" ng-destroy="" data-component="crn-start" screen-params="[{'key':'id','type':'expression','value':''}]"><ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-default" xattr-theme="bar-default" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button><button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear" ng-click="cronapi.screen.changeView('#/app/logged/recipeMobile', [])"> <i class="icon ion ion-android-arrow-dropleft"></i> </button>
    </div>
    <h1 class="title">Title</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content data-component="crn-ion-content" class="scroll-content has-header">
  <h1 class="text-center h1" xattr-position="text-center" xattr-type="h1" data-component="crn-heading" id="crn-heading-800013">{{params.id}}</h1></ion-content>
</ion-view></div>